<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="htmlEncode" converterClass="fr.insee.queen.application.configuration.log.LogbackAvoidLogForgeryContentEncoder" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="default,dev,prod">
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>%d{yyyy-MM-dd}.${LOG_FILE}.gz</fileNamePattern>
                <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY}</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="ROLLING_FILE" />
        </root>
    </springProfile>

    <springProfile name="default,dev,test,prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>