<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="htmlEncode" converterClass="fr.insee.queen.api.configuration.log.LogbackAvoidLogForgeryContentEncoder" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="dev,test,prod">
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY}</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%X{id}][%X{user}][%X{method} %X{path}] [%thread] %-5level %logger{36} - %htmlEncode{%m}%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="ROLLING_FILE" />
        </root>
    </springProfile>

    <springProfile name="default,dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>