services:
  keycloak:
    extends:
      file: ./container/compose.keycloak.yml
      service: keycloak
    profiles:
      - all
      - keycloak

  queen-db:
    extends:
      file: ./container/compose.queen-db.yml
      service: queen-db
    profiles:
      - all
      - queen-db
      - queen-listener-jms

  queen-db-ciphered:
    extends:
      file: ./container/compose.queen-db-ciphered.yml
      service: queen-db-ciphered
    profiles:
      - all
      - queen-db-ciphered

  activemq:
    extends:
      file: ./container/compose.activemq.yml
      service: activemq
    profiles:
      - all
      - activemq

  queen-listener-jms:
    extends:
      file: ./container/compose.queen-listener-jms.yml
      service: queen-listener-jms
    profiles:
      - all
      - queen-listener-jms

  queen-db-remote:
    extends:
      file: ./container/compose.synchronisation.yml
      service: queen-db-remote
    profiles:
      - synchronisation

  queen-remote:
    extends:
      file: ./container/compose.synchronisation.yml
      service: queen-remote
    profiles:
      - synchronisation

volumes:
  activemq_vol: