name: Build snapshot

on:
  push:
    branches-ignore:
      - main

jobs:
  build-snapshot:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.extract_branch.outputs.branch }}
      clean_branch: ${{ steps.extract_branch.outputs.clean_branch }}
    steps:
      - name: Extract branch name
        shell: bash
        # create two outputs:
        # - branch: for checkout
        # - clean_branch: branch where '/' are replaced by '-' (for tagging docker image)
        run: |
          BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})
          echo "branch=$BRANCH_NAME" >>$GITHUB_OUTPUT
          echo "clean_branch=$(echo $BRANCH_NAME | tr '/' '-')" >>$GITHUB_OUTPUT
        id: extract_branch

      - uses: actions/checkout@v4
        with:
          ref: ${{ steps.extract_branch.outputs.branch }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: install model filiere
        run: mvn install:install-file -Dfile="$(pwd)/modelefiliere-2.2.0.jar" -DgroupId=fr.insee -DartifactId=modelefiliere -Dversion=2.2.0 -Dpackaging=jar -DgeneratePom=true

      - name: Build API
        run: mvn package --no-transfer-progress

      - name: Upload API jar
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: queen-application/target/*.jar

  docker:
    needs:
      - build-snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download uploaded jar
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: queen-application/target/

      - name: Publish to Docker Hub
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: inseefr/queen-back-office
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          tags: "snapshot-${{ needs.build-snapshot.outputs.clean_branch }}"
          workdir: queen-application
