name: Thou shall not pass !!! (Check version & run tests)

on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: install model filiere
        run: mvn install:install-file -Dfile="$(pwd)/queen-listener-jms/libs/modelefiliere-2.0.0.jar" -DgroupId=fr.insee -DartifactId=modelefiliere -Dversion=2.0.0 -Dpackaging=jar -DgeneratePom=true

      - name: Running tests
        run: mvn test --no-transfer-progress

